.v-box {
   -fx-background-image: url('../images/backgrounds/application.png')
}

.label {
    -fx-text-fill: #f1eefc;
    -fx-font-size: 20;
}
.label-header {
    -fx-text-fill: #f1eefc;
    -fx-font-size: 58;
}

.text-area {
    -fx-text-fill: #5c30cc;
    -fx-font-size: 12;
    -fx-background-color: #f1eefc;
}

.button {
    -fx-background-color: linear-gradient(to bottom, #f1eefc, #cecfff);
    -fx-text-fill: #5c30cc;
    -fx-border-color: #b7b8ff;
    -fx-border-width: 1px 1px 1px 1px;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-font-size: 20;
}
.button:pressed, .button:default:hover:pressed {
    -fx-background-color: linear-gradient(to bottom, #d9d8e2, #bdbee5);
    -fx-text-fill: #613dbc;
    -fx-border-color: #abace5;
    -fx-font-size: 20;
}